@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Chela+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.login-page {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    .container {
        width: 400px;
        height: 500px;
        padding: 30px 40px;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .heading {
            font-family: "Roboto", serif;
            font-size: 35px;
            padding-bottom: 15px;
            border-bottom: 1px solid #e7e7e7;
        }

        .login-form {
            margin-top: 20px;
        }

        .exist-account {
            font-family: "Roboto", serif;
            font-size: 15px;
        }
    }
}